example/Python/logs
*.pyc
example/BBoxLite/2nd generation/C++/ConsoleApplication1/Release/logs
example/BBoxOne/1st generation/C++/ConsoleApplication1/Release/logs
example/BBoxLite/second_generation/C#/ConsoleApp1/bin/Release/logs
example/BBoxOne/first_generation/C++/ConsoleApplication1/Release/logs
example/BBoxLite Series/BBoxLite 5G/Labview2019/BBoxLite28A/logs
